@model IEnumerable<QLLaCoffee.Models.BillInfos>

@{
    ViewBag.Title = "Thêm hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .square-card {
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
    }

    .card-img-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        transition: height 0.5s ease-in-out;
    }

    .square-card:hover .card-body {
        height: 100%;
    }

    .row .category-link {
        text-decoration: none;
        color: black;
    }

    .row .selected-drink {
        color: dodgerblue;
    }

    .row .col-2 a {
        border-bottom: 1px solid black;
    }

        .row .col-2 a:last-child {
            border-bottom: none;
        }
</style>

<div class="card p-3 h-100">
    <div class="row h-100">
        <div class="col-7">
            <div class="d-flex justify-content-between">
                <h2>@ViewBag.TableName</h2>
                <a href="@Url.Action("Index", "Sell")" class="btn btn-primary" style="height: fit-content"><i class="ti-arrow-left"></i></a>
            </div>
            <div class="row">
                <div class="col-2">
                    @foreach (var category in ViewBag.ListDrinkCategories)
                    {
                        <a href="#" data-category-id="@category.DrinkCategoryID" class="py-3 d-block text-center category-link">@category.DrinkCategoryName</a>
                    }
                </div>
                <div class="col-10 row" style="border-radius: 20px">
                    @foreach (var item in ViewBag.ListDrinks)
                    {
                        <div class="col-3 drink-item" data-category-id="@item.DrinkCategories.DrinkCategoryID">
                            <a class="btn square-card card" href="@Url.Action("AddDrinkToBill", "Sell", new {id = item.DrinkID})">
                                <img src="/Public/images/drinks/@item.DrinkImage" class="card-img-top" />
                                <div class="card-body">@item.DrinkName</div>
                            </a>
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="col-5">

            @if (ViewBag.check == true && Model.Any())
            {
                <div class="h-75" style="overflow-y: auto; overflow-x: hidden">
                    <table class="table table-striped table-hover">

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-id-drink="@item.DrinkID" data-id-bill="@item.BillID">
                                    <td>
                                        @item.Drinks.DrinkName
                                    </td>
                                    <td>
                                        <a href="@Url.Action("GiamSoLuong", "Sell", new {idDrink = item.DrinkID, idBill = item.BillID})" class="bg-info p-1 mr-2" style="color: white; border-radius: 20%"><i class="mdi mdi-minus"></i></a>
                                        @item.DrinkCount
                                        <a href="@Url.Action("TangSoLuong", "Sell", new {idDrink = item.DrinkID, idBill = item.BillID})" class="bg-info p-1 ml-2" style="color: white; border-radius: 20%"><i class="mdi mdi-plus"></i></a>
                                    </td>
                                    <td>
                                        @item.Drinks.DrinkPrice.ToString("C0")
                                    </td>
                                    <td>
                                        <a href="#" class="delete-item" style="text-decoration: none">
                                            <i class="mdi mdi-delete" style="font-size: 25px; color: red"></i>
                                        </a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <div class="h-25">
                    <hr />
                    <p class="text-right" style="font-size: 20px">Tổng tiền: @Model.FirstOrDefault().Bills.TotalAmount.ToString("C0")</p>
                    <hr />
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-info mr-2" id="btnExportPDF" href="#">
                            Hóa đơn tạm tính
                        </a>
                        <a class="btn btn-primary" id="btnThanhToan" href="#">
                            Thanh toán
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var drinkItems = document.querySelectorAll('.drink-item');
            drinkItems.forEach(function (item) {
                item.style.display = 'none';
            });

            var categoryLinks = document.querySelectorAll('.category-link');
            categoryLinks.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    var categoryId = this.getAttribute('data-category-id');
                    drinkItems.forEach(function (item) {
                        if (item.getAttribute('data-category-id') === categoryId) {
                            item.style.display = 'block';
                        } else {
                            item.style.display = 'none';
                        }
                    });
                    categoryLinks.forEach(function (link) {
                        link.classList.remove('selected-drink');
                    });
                    this.classList.add('selected-drink');
                });
            });
            if (categoryLinks.length > 0) {
                categoryLinks[0].click();
            }
            $('#btnExportPDF').on('click', function (e) {
                e.preventDefault();
                console.log("hello")
                $.ajax({
                    url: '/Sell/ExportPDF',
                    type: 'GET',
                    success: function (rs) {
                        if (rs.success) {
                            location.reload();
                        }
                    }
                });
            });
            $('#btnThanhToan').on('click', function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn thanh toán',
                    icon: 'info',
                    showCancelButton: true,
                    confirmButtonText: 'Xác nhận',
                    cancelButtonText: 'Hủy',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Sell/ThanhToan',
                            type: 'GET',
                            success: function (rs) {
                                if (rs.success) {
                                    window.location.href = '@Url.Action("Index", "Sell")';
                                }
                            }
                        });
                    }
                });
            });
            $(document).on('click', '.delete-item', function (e) {
                e.preventDefault();
                var row = $(this).closest('tr');
                var idDrink = row.data('id-drink');
                var idBill = row.data('id-bill');
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa đồ uống này?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Xóa',
                    cancelButtonText: 'Hủy',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Sell/Delete',
                            type: 'POST',
                            data: { idDrink: idDrink, idBill: idBill },
                            success: function (rs) {
                                if (rs.success) {
                                    console.log(idBill, idDrink)
                                    location.reload();
                                }
                            }
                        });
                    }
                });
            });
            $('.js-example-basic-single').select2();
        });
    </script>
}

